<div 
  class="option-card group animate-fade-in" 
  [routerLink]="route"
  role="button"
  tabindex="0"
>
  <div class="icon-section">
    <div class="icon-container">
      <span class="emoji-icon">{{ icon }}</span>
    </div>
  </div>
  
  <div class="content-section">
    <h3 class="card-title">{{ title }}</h3>
    <p class="card-description">{{ description }}</p>
  </div>
  
  <div class="arrow-section">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="arrow-icon">
      <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
    </svg>
  </div>
</div>
